/*--------------------------------------------------------------
# Globals
--------------------------------------------------------------*/
body {
    background-color: var(--bg-grey);
    padding: 0 0.5rem;
    font-family: "Inter", sans-serif;
}

main {
    display: grid;
}

button {
    outline: none;
    border: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------
# Media querys
--------------------------------------------------------------*/
@media (min-width: 48rem) {
    main {
        grid-template-columns: 1.75fr 1fr;
        grid-gap: 3rem;
    }
}

@media (min-width: 75rem) {
    body {
        padding: 0 10rem;
    }
}