/*--------------------------------------------------------------
# Variables
--------------------------------------------------------------*/
:root {
    --bg-grey: #f4f4f5;
    --accent: #4272ca;
    --bg-btn-action: #335AA3;
    --text-secondary: #6C6C76;
    --element-border: #E5E5E5;
}